# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
Makefile
Makefile.*
release/
ui_*
object_script*
*_plugin_import.cpp
AsciiArterConsole
AsciiArterDesktop
moc_*
ui_*
qrc_*
*.gcno
*.gcda
*.tar.gz
oclint-0.10.3/
*.pro.user
*.pro.user.*
